[data-variation] {
  display: none;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 1rem;
}

a.control {
  background-color: lightsalmon;
}

a.test {
  background-color: blue;
}
